{% extends 'base.html' %}

{% block content %}
 <div class="page-header">
               <div class="row align-items-center">
                  <div class="col">
                     <h3 class="page-title">Students</h3>
                     <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'staff_home' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Feedback</li>
                     </ul>
                  </div>

                  <div class="col-auto text-right float-right ml-auto">
                     <button class="btn btn-primary mr-2" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-comment"></i>&nbsp; Feedback History</button>
                  </div>
               </div>
 </div>

<div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="{% url 'student_feedback_save' %}" method="POST" >
                                    {% csrf_token %}
                                        <div class="col-12">
                                            <h5 class="form-title"><span>Feedback</span></h5>
                                        </div>
                                            {% include 'includes/messages.html' %}

                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label>Feedback Message</label>
                                                <textarea required class="form-control" name="feedback"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary">Send Feedback</button>
                                        </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Feedback History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
             <div class="col-sm-12">
                  <div class="card card-table">
                     <div class="card-body">
                         <div class="table-responsive">
                           <table class="table table-hover table-center mb-0 ">
                              <thead>
                                 <tr>
                                     <th>ID</th>
                                    <th>Feedback</th>
                                    <th>Reply</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for i in feedback %}
                                    <tr>
                                        <td>{{i.id}}</td>
                                        <td>{{i.feedback}}</td>
                                        <td class="text-right">
                                           <div class="actions">
                                             {% if i.feedback_reply == "" %}
                                               <span class="badge badge-danger">No Reply</span>
                                              {% else %}
                                                {{i.feedback_reply}}
                                              {% endif %}
                                           </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}