{% extends 'base.html' %}

{% block content %}

<div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="{% url 'update_course' %}" method="POST">
                                    {% csrf_token %}
                                        <div class="col-12">
                                            <h5 class="form-title"><span>Edit Course</span></h5>
                                        </div>
                                    {% include 'includes/messages.html' %}
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label>Course Name</label>
                                                <input type="text" class="form-control" value="{{course.name}}" name="course_name">
                                                <input hidden type="text" class="form-control" value="{{course.id}}"  name="course_id">
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary">Update Course</button>
                                        </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}
